CORS_ORIGIN=*
ACCESS_TOKEN_SECRET = learning backend
ACCESS_TOKEN_EXPIRY = 1d
REFTESH_TOKEN_SECRET = 123456AMLESFfefebrgevdfeEREdfefefefe
REFTESH_TOKEN_EXPIRY = 10d

CLOUDINARY_CLOUD_NAME =
CLOUDINARY_API_KEY =
CLOUDINARY_API_SECRET =